<table class="modelindex">
  <tr>
  <th>User</th>
  <th>Buyed amount</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td class="moneycolumn"><%= number_to_currency(user.buyed_amount) %> </td>
  </tr>
<% end %>

</table>
